:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #FCF9ED;
  background-color: #191E31;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 200px;
}

body {
  margin: 20px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #999;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  color: #FCF9ED;
  background-color: #333333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  border-color: #FCF9ED;
  background-color: #666; 
}

button:active {
  background-color: #BC544B;
}

html, body, #root {
  height: 100%;
  max-width: 100%;
}